{% extends 'base.html' %} {% import 'macros.html' as macro %} {% if title %}
<title>{{title}}</title>
{% else %}

<title>Eagle NewsHub</title>
{% endif %} 
{% block content %} 


{% block content %}

<div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for a News" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-primary">
    </form>

</div>

<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #110320;
    min-width: 160px;
    box-shadow: blue;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
     
  }
  
  .dropdown-content a:hover
   {background-color: pink;}
  
  .dropdown:hover .dropdown-content 
  {display: block;}
  
  .dropdown:hover .dropbtn 
   {background-color: #3e8e41;}


   .card:hover{
    
    transform: scale(1.15); 
    box-shadow: 0 12px 12px 0 goldenrod, 0 12px 12px goldenrod;
    background-color: khaki;
   }
   
    .navbar {
        margin-bottom: 0%;
        border-radius: 0%;
        background-color: brown;
    }
</style>

   
   

</style> 

 {% endblock %}