

<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Eagle NewsHub</a>
        </div>
        <div class="navbar-collapse collapse">
         
                          
        <div class="dropdown">
            <button class="dropbtn">General News</button>
                <div class="dropdown-content">
                    {{macro.displaySourceList(general)}}
                </div>
        </div>   
        <div class="dropdown">
            <button class="dropbtn">Technology News</button>
                <div class="dropdown-content">
                    {{macro.displaySourceList(technology)}}
                </div>
        </div>   
        <div class="dropdown">
            <button class="dropbtn">Entertainment News</button>
                <div class="dropdown-content">
                    {{macro.displaySourceList(entertainment)}}
                </div>
        </div>   
        <div class="dropdown">
            <button class="dropbtn">Business News</button>
                <div class="dropdown-content">
                    {{macro.displaySourceList(business)}}
                </div>
        </div>   
        <div class="dropdown">
            <button class="dropbtn">Health News</button>
                <div class="dropdown-content">
                    {{macro.displaySourceList(health)}}
                </div>
        </div>  
        <div class="dropdown">
            <button class="dropbtn">Sports News</button>
                <div class="dropdown-content">
                    {{macro.displaySourceList(sports)}}
                </div>
        </div>    

        </div>
        
    </div>
</div>